<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if(puzzle) {%>
      <p>Puzzle Date: <%= puzzle.recordset[0].DateCreated %></p>
      <p>Solved: <%= puzzle.recordset[0].Completed %></p>
      <p>NYT Puzzle Id: <%= puzzle.recordset[0].NTYPuzzleId %></p>
      <p id="text-from-server"></p>
      <table>
        <th>Word</th>
        <%for(let i=0; i<puzzle.recordset.length; i++) {%>
          <%if(puzzle.recordset[i].FoundBy) {%>
          <tr><td><%= puzzle.recordset[i].Word %></td></tr>
          <%}else{%>
            <tr><td>----------</td></tr>
          <%}%>
        <%}%>
      </table>
    
    <% } else { %>
      No data for today!
    <%}%>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      socket.emit('chatter', 'Hello from client');
      socket.emit('test', 'this is only a test');
      socket.on('sendToClient', function (data) {
        console.log(data);
        document.getElementById('text-from-server').innerHTML = data;
        //var elem = document.querySelector('#text-from-server');
      });
    </script>

  </body>
</html>
